{% extends 'base.html.twig' %}

{% block title %}Info index{% endblock %}

{% block body %}
    <h1>Info index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.titre }}</td>
                <td>{{ info.description }}</td>
                <td>{{ info.type }}</td>
                <td>
                    <a href="{{ path('info_show', {'id': info.id}) }}" class="badge badge-primary text-uppercase">voir</a>
                    <a href="{{ path('info_edit', {'id': info.id}) }}" class="badge badge-primary text-uppercase">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('info_new') }}" class="badge badge-primary text-uppercase">Créer une nouvelle info</a>
{% endblock %}
