{% block stylesheets %}
    <style>
        .buttonSup{
            display: block;
            margin-left: auto;
            margin-right:auto;
            margin-bottom: 2vh;
        }
    </style>

{% endblock %}

{{ form_start(form) }}
    <div class="form-group">
        <label> Nom de l'artiste </label>
        {{ form_widget(form.name, {'attr' : {
            'placeholder' : "Nom artiste",
            'class' : "form-control"
        }})}}
        {{ form_errors(form.name)}}
        <label> Style de l'artiste </label>
        {{ form_widget(form.style, {'attr' : {
            'placeholder' : "Style",
            'class' : "form-control"
        }})}}
        {{ form_errors(form.style)}}
    </div>
    <button class="btn btn-outline-success buttonSup">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}